<!-- BEGIN: Left Aside -->
<!-- BEGIN: Left Aside -->

<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Quote Details
      </h3>
    </div>

  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="m-portlet">
      <div class="col-xl-12">

        <div class="col-xl-12" [hidden]="quoteFormActive">
          <br>
          <button id="m_login_signin_submit" (click)="addQuote()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
            Add Quote
          </button>
          <br>
          <br>
        </div>

        <div class="col-xl-12">
          <div class="m-grid__item m-grid__item--fluid m-wrapper quotes" [hidden]="quoteFormActive">
            <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
              <i class="fa fa-search" style="margin:7px 7px 7px 7px"></i>
              <input #gb type="text" pInputText size="50" placeholder="Global Filter">
            </div>
            <p-dataTable [value]="quotes" selectionMode="single" sortMode="multiple" [(selection)]="selectedQuote"
              [globalFilter]="gb" (onRowDblclick)="onRowDblclick('')" [rows]="10" [paginator]="true" [loading]="loadingDT"
              [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-column field="date" header="Quote Date">
                <ng-template let-col let-quote="rowData" pTemplate="body">
                  <span>{{quote.date | date:'dd/MM/yyyy'}}</span>
                </ng-template>
              </p-column>
              <p-column field="quote_number" header="Quote Sequence Number"></p-column>
              <p-column field="name" header="Quote name"></p-column>
              <p-column field="outcome" header="Outcome">
                <ng-template let-col let-quote="rowData" pTemplate="body">
                  <!-- <span class="m-badge m-badge--wide {{quote.outcome}}">{{quote.outcome}}</span> -->

                  <a class="btn mr-1 btn-outline-success m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air active"
                    href="#" (click)="statusChange('Success',quote)" [ngClass]="{'active':quote.outcome == 'Success'}">
                    <i class="fa fa-check"></i>
                  </a>
                  <a class="btn mr-1 btn-outline-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air"
                    href="#" (click)="statusChange('Reject',quote)" [ngClass]="{'active':quote.outcome == 'Reject'}">
                    <i class="fa fa-close"></i>
                  </a>
                  <a class="btn mr-1 btn-outline-warning m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air"
                    href="#" (click)="statusChange('NA',quote)" [ngClass]="{'active':quote.outcome == 'NA'}">
                    <i class="fa fa-power-off"></i>
                  </a>

                </ng-template>
              </p-column>

              <p-column header="Action">
                <ng-template let-col let-quote="rowData" pTemplate="body">
                  <span style="overflow: visible; width: 110px;">
                    <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                      title="Edit details" (click)="onRowDblclick(quote)">
                      <i class="la la-edit"></i>
                    </a>

                  </span>
                </ng-template>
              </p-column>

              <!-- <p-column field="comments" header="Comment"></p-column> -->
            </p-dataTable>
          </div>
        </div>
        <div [hidden]="!quoteFormActive">
          <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
            <div class="m-portlet__body">
              <div class="form-group m-form__group row">

                <div class="form-group m-form__group col-lg-4">
                  <label>
                    Quote
                  </label>
                  <div></div>
                  <input aria-describedby="no" class="form-control m-input" name="name" [(ngModel)]="quoteInfo.name" id="name"
                    type="text">
                </div>
                <div class="form-group m-form__group col-lg-4">
                  <label>
                    Date
                  </label>
                  <div></div>
                  <input aria-describedby="no" class="form-control m-input" name="date" [ngModel]="quoteInfo.date | date:'yyyy-MM-dd'"
                    (ngModelChange)="quoteInfo.date = $event" id="name" type="date">
                </div>
                <div class="form-group m-form__group col-lg-4">
                  <label>
                    Outcome
                  </label>
                  <div></div>
                  <select class="custom-select form-control" name="stau" [(ngModel)]="quoteInfo.outcome">

                    <option value="Success">
                      Success
                    </option>
                    <option value="Reject">
                      Reject
                    </option>
                    <option value="NA">
                      NA
                    </option>

                  </select>
                </div>
                <div class="form-group m-form__group col-lg-4">
                  <label>
                    Email
                  </label>
                  <div></div>
                  <input aria-describedby="no" class="form-control m-input" name="email" [(ngModel)]="quoteInfo.email"
                    id="email" type="email">
                </div>

                <div class="form-group m-form__group col-lg-8">
                  <label>
                    Comments
                  </label>
                  <div></div>
                  <textarea class="form-control m-input" cols="30" rows="3" name="comment" [(ngModel)]="quoteInfo.comment"></textarea>

                </div>
              </div>
            </div>

          </form>
          <br>
          <br>

          <div class="docForm" #docForm style="border: solid 1px; padding: 12px">

            <p>
              <input aria-describedby="no" style="width: 25%" class="form-control m-input" placeholder="enter date"
                name="date" [ngModel]="quoteInfo.date | date:'yyyy-MM-dd'" (ngModelChange)="quoteInfo.date = $event" id="name"
                type="date">
            </p>
            <p>
              <input aria-describedby="no" class="form-control m-input" name="tender" [(ngModel)]="quoteInfo.tender" id="name"
                type="text" placeholder="eg. Tendering Head Contractors" class="width25">
            </p>
            <strong>To whom it may concern</strong>
            <p>
              <span>
                <input aria-describedby="no" class="form-control m-input" name="name" [(ngModel)]="quoteInfo.name" id="name"
                  type="text" placeholder="eg. RE: Bunnings Virginia" class="width25"> </span>

              <p>
                <p-editor name="detail" [(ngModel)]="quoteInfo.details" [style]="{'height':'200px'}"></p-editor>
              </p>


              <p>
                <p-editor name="resaon" [(ngModel)]="quoteInfo.quoteReason" [style]="{'height':'200px'}"></p-editor>
              </p>

              <p>

                <p-editor name="scopedetail" [(ngModel)]="quoteInfo.scopeDetail" [style]="{'height':'200px'}"></p-editor>
              </p>

              <p>

                <p-editor name="extsub" [(ngModel)]="quoteInfo.externalSubstrate" [style]="{'height':'200px'}"></p-editor>
              </p>
              <p>

                <p-editor name="intsub" [(ngModel)]="quoteInfo.internalSubstrate" [style]="{'height':'200px'}"></p-editor>
                <strong>
                  <u>&nbsp;</u>
                </strong>
              </p>
              <p>
                <strong>
                  <!-- <u>PRICE BREAKDOWN</u> -->
                </strong>
              </p>
              <!-- {{selectedQuote|json}} -->
              

              
              <div class="row">
                  <div class="col-md-4">
                     <Strong><u> PRICE BREAKDOWN</u></Strong>
                  </div>
               </div>


              <div class="row">

              
                    <div class="col-md-7">
                      <div class="row margin-top20">
                        <div class="col-md-12">
                           <input class="form-control" name="pricebreakdownHeading" type="text"  [(ngModel)]="quoteInfo.pricebreakdownHeading">
                        </div>
                     </div>
                     <div class="row margin-top20" *ngFor="let cost of quoteInfo.cost ; let i = index">
                        <div class="col-md-7">
                           <input type="text" class="form-control" name="cost" [(ngModel)]="cost.heading">
                        </div>
                        <div class="col-md-4">
                           <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon">$</span>
                              <input class="form-control" type="text" name="cost" [(ngModel)]="cost.cost" pInputText placeholder="Price" 
                              (change)="costChange()">
                           </div>
                        </div>
                        <div class="col-md-1">
                           <span *ngIf="i==0" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
                           href="#" ng-reflect-href="#" (click)="addCost()">
                           <i class="la la-plus"></i>
                           </span>
                           <span *ngIf="i!=0" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
                           href="#" ng-reflect-href="#" (click)="removeCost(i)">
                           <i class="la la-remove"></i>
                           </span>
                        </div>
                     </div>
                     <div class="row margin-top20">
                        <div class="col-md-7">
                           <input class="form-control" name="priceftr" type="text"  [(ngModel)]="quoteInfo.pricebreakdownFooter">
                        </div>
                        <div class="col-md-4">
                           $ {{quoteInfo.gstCost * 10}}
                        </div>
                     </div>
                     <div class="row margin-top20">
                        <div class="col-md-7">
                           <span>GST</span>
                        </div>
                        <div class="col-md-4">
                           $ {{quoteInfo.gstCost}}
                        </div>
                     </div>
                     <div class="row margin-top20">
                        <div class="col-md-7">
                           <strong>TOTAL</strong> 
                        </div>
                        <div class="col-md-4">
                           $ <strong>{{quoteInfo.totalCost}}</strong>
                        </div>
                     </div>
                    </div> 

                    <div class="col-md-5 mt-4 second-part-share">
                      <div class="row offset-md-1 col-md-10" *ngIf="selectedQuote">                        
                        <p-fileUpload name="pricedoc" (onUpload)="onUpload($event)" multiple="multiple" 
                        url="{{baseUrl}}api/quote/savepriceQuote/{{selectedQuote['_id']}}"                        
                          accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,application/vnd.ms-powerpoint,application/msword,image/*">
                          <ng-template pTemplate="content">
                            <ul *ngIf="uploadedPriceFiles.length">
                              <li *ngFor="let file of uploadedPriceFiles" style="padding: 0.4em;">
                                <a href="#" (click)="this.fileOperationService.viewFile(file)">{{file.name}}</a> &nbsp;&nbsp;&nbsp;
                                <button icon="fa-close" pbutton="" type="button" (click)="this.fileOperationService.removeFile(file.path)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                                            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                                                            <span class="ui-button-text ui-clickable">ui-btn</span>
                                                        </button>
                              </li>
        
                            </ul>
                          </ng-template>
                        </p-fileUpload>


                      </div>
                    </div>

              </div> 


               


               <div class="m-portlet__foot--fit margin-top20 ">
                  <div class="m-form__actions">
                     <button [disabled]="disableQuoteField" type="reset" class="col-md-1 margin-right10 btn btn-success" (click)="submit()">
                     Submit
                     </button>
                     <button [disabled]="disableQuoteField" type="reset" class="col-md-1 margin-right10 btn btn-primary" (click)="cancel()">
                     Cancel
                     </button>
                     <button [disabled]="disableQuoteField" type="reset" class="col-md-1 margin-right10 btn btn-danger" (click)="reset()">
                     Reset
                     </button>
                     <button [disabled]="disableQuoteField" type="reset" class="col-md-1 margin-right10 btn btn-focus" (click)="preview()">
                     Preview
                     </button>
                     <a *ngIf="quoteReady" class="btn btn-outline-warning m-btn m-btn--icon m-btn--outline-2x pull-right"
                     href="#" (click)="emailQuote()">
                     <span>
                     <i class="la la-envelope"></i>
                     <span>
                     Share
                     </span>
                     </span>
                     </a>
                  </div>
               </div>
              
              
             
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Send To" [(visible)]="emailModal" [modal]="true" [width]="550" (onHide)="cancelEmail()">
  <div class="ui-g" *ngFor="let email of emailList ; let i = index; trackBy: trackByFn" style="padding: 0.5em">
    <div class="col-lg-8">
      <input class="form-control" type="text" name="elist" [(ngModel)]="emailList[i]">
    </div>
    <div class="col-lg-4">
      <a *ngIf="i==0" class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
        href="#" ng-reflect-href="#" (click)="addemail()">
        <i class="la la-plus"></i>
      </a>
      <a *ngIf="i!=0" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
        href="#" ng-reflect-href="#" (click)="removeemail(i)">
        <i class="la la-remove"></i>
      </a>
    </div>
  </div>
  

  
   <div class="">
      <ul *ngIf="uploadedPriceFiles.length">
          <li class="mt-2" *ngFor="let file of uploadedPriceFiles">
          {{file.name}}
              <button icon="fa-close" pbutton="" type="button" (click)="this.fileOperationService.removeFile(file.path)" 
              class="custom-attachment-icon-container ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                  <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                  <span class="ui-button-text ui-clickable">ui-btn</span>
              </button>
         </li>
      </ul>
   
  </div>
  
  <div class="col-lg-12">
    <p-editor [(ngModel)]="emailBody" [style]="{'height':'100px'}"></p-editor>
  </div>

  <span style="color: rgb(146, 31, 31)" [hidden]="emailList.length > 0">Mail Send Succesfully!!</span>
  <p-footer>
      <button pButton type="button" icon="fa fa-check" (click)="sendEmail()" label="Send"></button>
      <button pButton type="button" icon="fa fa-close" (click)="emailModal=false" label="Cancel"></button> 
  </p-footer>
</p-dialog>

<alert-box #alert [message]="alertmessage" (onSubmit)="resetOk()"></alert-box>
<router-outlet></router-outlet>
