<div class="m-content">
    <div class="row">
        <div class="m-portlet">
            <div class="col-xl-12">
                <br>
                <!-- *ngIf="employeeList?.length!=0" -->
                    <div class="row" >
                            <div class="col-md-3"><span>Total Employees: {{employeeList?.length}}</span> </div>
                            <div class="col-md-3"><span>Total PAYG Employees: {{getEmployeeLength('employeeTypeName','PAYG')}}</span> </div>
                            <div class="col-md-3"><span>Total ABN Employees: {{getEmployeeLength('employeeTypeName','ABN')}}</span> </div>
                            <div class="col-md-3"><span>Total ACN Employees: {{getEmployeeLength('employeeTypeName','ACN')}}</span> </div>
                            <div class="col-md-3"><span>Total On-Project Employees:{{getEmployeeLength('onProject')}}</span> </div>
                    </div>
                <br>
                <div class="col-xl-12">
                    <button id="m_login_signin_submit" routerLink="/employee/add-employee"  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                        Add Employee
                    </button>
                </div>
                <br>
                <br>
                <div class="col-xl-12">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <!-- <p-dataTable [value]="employeeList" selectionMode="single" [(selection)]="selectedEmployee" (onRowDblclick)="onRowDblclick($event)" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"> -->
                            <p-dataTable [value]="employeeList" selectionMode="single" [(selection)]="selectedEmployee" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">

                            <p-header>List of Employees</p-header>
                            <p-column field="name" header="Employee Name"></p-column>
                            <p-column field="employeeTypeName" header="Employee Type">
                            </p-column>
                            <p-column field="project" header="Project Name"></p-column>
                            <p-column field="onProject" header="On Project">
                                <ng-template let-employee="rowData" pTemplate="body">
                                    <span>
                                        {{employee.onProject ? 'YES':'NO'}}
                                    </span>
                                </ng-template>
                            </p-column>
                            <p-column header="Action">
                                <ng-template let-employee="rowData" pTemplate="body">
                                        <span style="overflow: visible; width: 110px;">
                                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"
                                                routerLink="/employee/edit-employee/{{employee._id}}">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" (click)="preConfirmDeleteEmployee(employee._id)">
                                                    <i class="la la-trash"></i>
                                                </a>
                                        </span>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
